{% extends "usersApp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
{% endblock %}

{% block content %}

        <div class="row">

            <div class="col-md-5 text-center myMainInfo">
                <div>
                    <div class="image-cropper text-center">
                        <img class="rounded-circle account-img profile-pic" src="{{ user.profile.image.url }}">
                    </div>
                    <div class="media-body">
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-7 myDetailedInfo">
                <section id="content">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <h1>Profile Info</h1>
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Update</button>
                    </div>
                </form>
            </section>
            </div>

        </div>
        <script>
            var container = $('.image-cropper'),
    image = container.find('img');

container.width(image.height());
        </script>
{% endblock content %}