{% extends "postsApp/base.html" %}


{% block content %}
        <article class="media content-section">
            <div class="media-body">
                <img src="{{ profile.image.url }}" alt="user profile pic" height="200px">
                <h3 class="article-title">{{ profile.user }}</h3>
                <h3 class="article-title">{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
                <h4 class="article-title">{{ profile.branch }} {{ profile.degree }}</h4>
                <h6 class="article-title">Year of Joining: {{ profile.year_of_joining }}</h6>
                <h6 class="article-title">DOB: {{ profile.dob }}</h6>
            </div>
        </article>
{% endblock %}