.split{
    position: absolute;
    width: 50%;
    height: 100%;
}
.split.left{
    left: 0;
}
.split.right{
    right:0;
}
.image-cropper {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    align-self: center;
    left: 30.5%;
    margin-top: 150px;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%; 
  margin-right: -25%;
  height: 100%;
  width: auto;
}

 h1 {
    color: #1abc9c;
    font: 40px Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 40px 0 30px;
    text-align: center;
}

#content{
    width: 600px;
    left: 50%;
    margin: 0 auto;
}

.product-f-image img{
    width:100%;
    height: 300px;
    float: left;
    object-fit: cover;
    cursor: pointer;
}
.product-f-image video{
    width:100%;
    height: 300px;
    float: left;
    object-fit: cover;
    cursor: pointer;
}
.post-title{
    line-height: 1.5em;
    height: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%; 
    font-size: 18px;
    text-align: center; 
    font-family: 'Titillium Web'; 
    font-weight: 600;
}

.single-product h2 {
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
}


.single-product h2 {
    text-align: center;
}
.single-product h2 a {
    color: #222;
}


.single-product {
  overflow: hidden;
  margin-right: 0 !important; 
  padding-left: 0;
  padding-right: 0;
}
#details{
    display: block;
    font-family: inherit;
    color: #acb0ad;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: lighter;
}

#email{
    display: block;
    font-family: inherit;
    color: #acb0ad;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: lighter;
}

.single-product{
    border: 1px solid #1abc9c;
    width: 45%;
}

.gallery-cont {
    display: flex;
    flex-wrap: wrap;
    padding: 0 auto;
    width: 800px;
    float: center;
    margin: auto;
  }
  
  /* Create two equal columns that sits next to each other */
  .col-md-6 {
    overflow: hidden;
    flex: 47%;
    padding: 0 auto;
    background-color: rgba(240, 250, 246, 0.5);
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    border-radius: 10px;
    border: 1.5px solid rgba(34, 35, 36, 0.3);
    transition: transform .3s;
  }
  .col-md-6:hover{
      transform: scale(1.05);
  }
  .col-md-6 img, .col-md-6 video {
    margin-top:0;
    vertical-align: middle;
    width:100%;
    height: 300px;
    float: center;
    object-fit: cover;
    cursor: pointer;
  }

  .col-md-5{
      background-color: rgb(34, 35, 36);
  }

 .media-body h2{
      font-family: 'Raleway';
      margin-top: 20px;
      color: white;
  }

  #pills-tab{
      size: 15px;
  }
  